@use "../base/variables" as v;
@use "../base/mixins" as m;
.header {
  &_bg {
    &-light {
      background-color: v.$white;
      color: v.$verydarkblueLM;
    }
    &-dark {
      background-color: v.$darkblueDM;
      color: v.$white;
    }
  }
  padding: 2.8rem 0;
  text-align: center;
  box-shadow: v.$darkgreyLM 0px 1px 1px -1px;
  @include m.tabletMed {
    &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &-title {
    font-size: 2.4rem;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  &-mode {
    padding-top: 1.5rem;
    @include m.tabletMed {
      padding-top: unset;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
