@use "../base/variables" as v;
@use "../base/mixins" as m;

.home {
  &_bg {
    background-color: v.$backgroundLM;
    &-dark {
      background-color: v.$backgroundDM;
    }
  }
}
.filters {
  padding: 4.7rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.3rem;
  @include m.tablet {
    flex-direction: row;
    justify-content: space-between;
  }
}
.cards {
  min-height: 80vh;
  padding-bottom: 4.7rem;
  &_container {
    @include m.grid(1, 4rem);
    justify-items: center;
    @include m.tabletMed {
      @include m.grid(2, 4rem);
    }
    @include m.tablet {
      @include m.grid(3, 4rem);
    }
    @include m.desktopMed {
      @include m.grid(4, 4rem);
    }
    @include m.desktopBig {
      @include m.grid(5, 4rem);
    }
  }
}
