@use "../../base/variables" as v;

.searchFilter {
  position: relative;
  width: 100%;
  &_btn {
    position: absolute;
    top: 35%;
    left: 2.5rem;
    &-light {
      background-color: v.$white;
      color: v.$darkgreyLM;
    }
    &-dark {
      background-color: v.$darkblueDM;
      color: v.$white;
    }
  }
  &_input {
    border: none;
    width: 95%;
    height: 5.6rem;
    max-width: 48rem;
    border-radius: 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding-left: 7rem;
    &-light {
      background-color: v.$white;
    }
    &-dark {
      box-shadow: unset;
      background-color: v.$darkblueDM;
      color: v.$white;
      &::placeholder {
        color: v.$white;
      }
    }
  }
}
